body{
    background-color: #151515;
    color: white;
    font-size: 60px;
}

// @media (orientation: landscape) {
//   body {
//     background-color: lightblue;
//   }
// }

.current {
    color: green;
}

p {
    margin: 10px 0px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (-webkit-max-device-pixel-ratio : 1.5){
    body {
        font-size: 14px;
    }
    div.content
    {
        font-size: 14px;
    }
}

a{
    color: blueweb;
}


div{
    position: absolute;
}

.highlight {
    margin: 10px 0px 0px 50px;
}

.content
{
    width: 100%;
    font-size: 28px;
    top: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    bottom: 70px;
    overflow-y: scroll;
    overflow-x: hidden;

}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333;
    transition: top 0.6s;
    z-index: 2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .footer {
  width: 100%;
  color: #4CAF50;
  background: #333;
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  top: auto;
  z-index: 2;
}

.footer a{
    color: #4CAF50;
}