
$color1_old : #4CAF50;

$color1 : #8e9934ff;
$color2 : #333333;
$color3 : #f2f2f2;
$color4 : #ddd;
$color5 : black;
$color6 : rgb(240, 250, 161);


#topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    transition: top 0.6s;
  
    /* Style the links inside the navigation bar */
    a {
        font-size: 1.5em;
        float: left;
        color: $color3;
        padding: 14px 16px;
        text-decoration: none;
        
        /* Change the color of links on hover */
        &:hover {
            background-color: $color4;
            color: $color5;
        }
        
        &:active {
        background-color: $color6;
        }
        
        /* Add a color to the active/current link */
        &.active {
        background-color: $color1;
        color: $color3;
        }
    }
}

#footer {
    width: 100%;
    background: $color2;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    z-index: 2;

    a {
        float: left;
        width: 50%;
        font-size: 1em;
        color: $color3;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;

        &:hover {
            background-color: $color4;
            color: $color5;
        }
        
        &:active {
        background-color: $color6;
        }
        
        &.active {
        background-color: $color1;
        color: $color3;
        }
    }
}

#content {
    padding-top: 1em;
    padding-bottom: 1em;
}